*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    border: none;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(40deg, rgba(12, 97, 136, 0.678), rgba(22, 172, 218, 0.699));
    color: white;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.226);
    padding: 5px;
}
.card-welcome{
    font-size: larger;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid gray;
    border-radius: 10px;
    width: 600px;
    height: 150px;
    background-color: white;
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.377));
    transition: all 700ms ease-in-out;
    z-index: 4;
}
.card-welcome .box-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    height: 50%;
}
.card-welcome .box-top button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    font-size: large;
    background-color: rgb(213, 229, 245);
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.247));
    cursor: pointer;
}
.card-welcome .box-bottom{
    height: 80%;
}
.card-welcome .box-bottom .box-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.card-selegapo, .card-selegapalavras, .card-selegavelha{
    width: 400px;
    height: 300px;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.384));
    border-radius: 5px;
    background-color: rgb(37, 37, 37);
}
.card-selegapo img, .card-selegapalavras img, .card-selegavelha img{
    border-radius: 5px;
    filter: opacity(0.6);
    transition: all 500ms ease-in-out;
}
.card-selegapo:hover img,.card-selegapalavras:hover img, .card-selegavelha:hover img{
    filter: opacity(1);
}
.block01 main{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card-selegapo .box-title, .card-selegapalavras .box-title, .card-selegavelha .box-title{
    position: absolute;
    top: 50%;
    left: 30%;
    color: white;
    letter-spacing: 0.5px;
}
.card-selegapo .box-button, .card-selegapalavras .box-button, .card-selegavelha .box-button{
    position: absolute;
    top: 50%;
    left: 40%;
    display: none;
}
.card-selegapo .box-button button, .card-selegapalavras .box-button button, .card-selegavelha .box-button button{
    font-size: larger;
    border-radius: 5px;
    height: 30px;
    width: 70px;
    font-size: larger;
    color: white;
    background-image: linear-gradient(40deg, rgba(26, 134, 161, 0.678), rgba(39, 198, 226, 0.699));
    box-shadow: 0px 6px rgb(11, 88, 124);
    cursor: pointer;
    transition: all 500ms ease-in-out;
}
.card-selegapo:hover .box-button{
    display: block;
    animation: show 500ms ease-in-out;
}
.card-selegapalavras:hover .box-button{
    display: block;
    animation: show 500ms ease-in-out;
}
.card-selegavelha:hover .box-button{
    display: block;
    animation: show 500ms ease-in-out;
}
/* animações */
@keyframes show {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}